<div class="container">
  <div class="row mb-5">
    <div class="col">
      <a routerLink="/dashboard" class="btn btn-success">Come back</a>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <h1 class="text-center">Change email</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">New email address</label>
          <input 
            type="email" 
            class="form-control"
            [ngClass]="{
              'border-danger': form.get('email').invalid && form.get('email').touched,
              'border-success': form.get('email').valid && form.get('email').touched
            }"
            formControlName="email"
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input 
            type="password" 
            class="form-control"
            [ngClass]="{
              'border-danger': form.get('password').invalid && form.get('password').touched,
              'border-success': form.get('password').valid && form.get('password').touched
            }"
            formControlName="password"
          >
        </div>

        <div 
          class="alert alert-danger"
          *ngIf="resErr"
        >
          {{resErr}}
        </div>

        <div 
          class="alert alert-success"
          *ngIf="resSuccess"
        >
          {{resSuccess}}
        </div>

        <button 
          type="submit" 
          class="btn btn-primary"
          [disabled]="form.invalid || loading"
        >Change</button>
      </form>
    </div>
  </div>
</div>