<div class="container mt-5">
  <div class="row">
    <div class="col-4"><a href="#" class="btn btn-primary">Come back</a></div>
  </div>

  <div class="row justify-content-center mb-3">
    <h1 class="text-center">Info about link Link</h1>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <a [routerLink]="['/info', id, 'yearly']" class="btn btn-primary mr-2">Yearly</a>
      <a [routerLink]="['/info', id, 'mounthly']" class="btn btn-primary mr-2">Monthly</a>
      <a [routerLink]="['/info', id, 'daily']" class="btn btn-primary mr-2">Daily</a>
      <a [routerLink]="['/info', id, 'hourly']" class="btn btn-primary mr-2">Hourly</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>