<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <form>
        <h1 class="text-center">Reset</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-success">Register</button>
        <button type="button" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>