<div class="container">
  <div class="row mb-5">
    <div class="col">
      <a routerLink="/dashboard" class="btn btn-success">Come back</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <h1 class="text-center">Change password</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Old password</label>
          <input 
            type="password" 
            class="form-control"
            formControlName="oldPass"
            [ngClass]="{
              'border-danger': form.get('oldPass').invalid && form.get('oldPass').touched,
              'border-success': form.get('oldPass').valid && form.get('oldPass').touched
            }"
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">New password</label>
          <input 
            type="password" 
            class="form-control"
            formControlName="newPass1"
            (input)="arePasswordsEqual()"
            [ngClass]="{
              'border-danger': form.get('newPass1').invalid && form.get('newPass1').touched && form.get('newPass2').touched && !passwordsAreEqual,
              'border-success': form.get('newPass1').valid && form.get('newPass1').touched && passwordsAreEqual
            }"
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Repead password</label>
          <input 
            type="password" 
            class="form-control"
            formControlName="newPass2"
            (input)="arePasswordsEqual()"
            [ngClass]="{
              'border-danger': form.get('newPass2').invalid && form.get('newPass2').touched && form.get('newPass1').touched && !passwordsAreEqual,
              'border-success': form.get('newPass2').valid && form.get('newPass2').touched && passwordsAreEqual
            }"
          >
        </div>

        <div 
          class="alert alert-danger"
          *ngIf="resErr"
        >
          {{resErr}}
        </div>

        <div 
          class="alert alert-success"
          *ngIf="resSuccess"
        >
          {{resSuccess}}
        </div>

        <button 
          type="submit" 
          class="btn btn-primary"
          [disabled]="form.invalid || loading || !passwordsAreEqual"
        >Change</button>
      </form>
    </div>
  </div>
</div>