<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date type</th>
      <th scope="col">Clicks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        2020
      </td>
      <td>
        30
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        2019
      </td>
      <td>
        220
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
        2018
      </td>
      <td>
        70
      </td>
    </tr>
  </tbody>
</table>